<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/style.css">

    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="upperHeader">
        <img src="./img/logo-mercado-liebre.svg" width="260px" height="100px" alt="">

        <div class="searchBar">
            <form action="/" method="get">
                <label for="SearchBar"></label>
                <input type="text" name="SearchBar" id="SearchBar" placeholder="Buscar productos.">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>

    <div class="text">
        <i class="fa-solid fa-hand-holding-dollar">Comprá en cuotas y sin tarjeta de credito</i>
    </div>
    

    <div class="burguer-menu">
    <i class="fa-solid fa-bars"></i>
    </div>

        <div class="nav-bar">
            <ul type="Circle">
                <li>ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            
            <ul type="Circle">
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>
        </div>
    </header>

    <main>
        <img src="./img/img-home-banner.jpg" alt="">

        <h1>Basado en tu última visita</h1>

        <section class="BETUV">
            <div class="coffe">
            <img src="./img/img-cafetera-moulinex.jpg" alt="">
            <h1></h1>
            </div>
        </section>
    </main>

    <footer>
        <section class="1">
            <h1>Pagá con tarjeta o en Efectivo</h1>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    </footer>
</body>
</html>