main .register-form h1.titulo {
    font-size: 2.5em;
    text-align: center;
}


main section.register-form form{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .register-form form .left-side, 
main .register-form form .right-side {
    width: 100%;
    margin: 5px;
}

 main .register-form form .left-side input,
 main .register-form form .bottom input  {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px
 }

 main .register-form form .bottom .input input {
    margin: auto;
    width: fit-content;
 }

 main .register-form form h2{
    display: flex;
    justify-content: start;
    margin: 10px;
 }

main .register-form form .right-side .interes {
    display: flex;
    flex-direction: column;
}

main .register-form form .interes input {
    width: fit-content;
    margin: 10px;
}

main .register-form form .estado {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

main .register-form form .estado input {
    margin: 0 15px;
}

main .register-form form button {
    margin: 10px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1259c3;
    color: white;
 }

main .register-form form #reset {
    margin: 10px;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #e46161;
    color: white;
 }

