* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
    ;
    font-family: Roboto;
}

/* -- Header -- */

header {
    background-color: #EAC926;
    ;
}

header .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 15px;
}

header .logo {
    height: 100px;
    width: 50vw;
    display: flex;
    justify-content: start;
    align-items: start;
}

header .banner {
    height: 210px;
    width: 100vw;
}

header form {
    display: flex;
    align-items: center;
    width: 50%;
    height: 85px;
    padding: 2px;
    font-size: 11px;
}

header form input {
    background-color: #FFF;
    border: none;
    outline: none;
    color: #666;
    width: 100%;
    height: 45px;
    font-size: 1.3em;
    border-radius: 10px 0 0 10px;
}

header form button {
    background-color: #FFF;
    border: none;
    color: #666;
    width: 10%;
    height: 45px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

header .upperHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .burguer-menu {
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    color: #ebebeb;
    background-color: #1259c3;
    margin: 35px 160px 35px;
    border-radius: 7px;
    height: 60px;
}


header .nav-bar {
    display: none;
}

.title {
    margin: 10px 0 0;
    font-size: 24px;
    color: #666;
    text-align: center;
}

/* -- Main -- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebebeb;
}

main .product .description p {
    display: flex;
    justify-content: center;
}

main img {
    width: 50vw;
}

main .product {
    padding: 15px;
    margin: 10px;
    display: flex;
    background-color: white;
    width: 90vw;
    flex-direction: column;
    align-items: center;
}

main .product .description {
    width: 90vw;
    border-top: 1px solid #ebebeb;
}

main .product .description .prices {
    display: flex;
    align-content: center;
    margin: 15px 0px;
}

main .product .description .descount {
    width: 70%;
    color: #39b54a;
}

main .product .price {
    width: 30%;
}

main .product .description {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

main section .product i {
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section .product h4 {
    display: flex;
    align-items: end;
}




/* -- Footer -- */

footer {
    background-color: white;
    display: flex;
    flex-direction: column;
}

footer section {
    margin: 20px 0;

}

footer .icon {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #1259c3;
}

footer section h1 {
    color: #666;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 15px;
    color: #000000;
    text-align: center;
    margin: 0 115px;
    padding-bottom: 15px;
}


@media (min-width: 769px) {
    header .burguer-menu {
        display: none;
    }
    header .nav-bar ul {
        display: flex;
        align-items: center;
    }

    header .nav-bar ul li {
        padding: 4% 0;
        margin: 0 20px;
        list-style-type: none
    }

    header .upperHeader {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .upperHeader .logo {
        width: 20vw;
    }

    header .upperHeader form{
        width: 50vw;
        margin-left: 15px;
    }

    header .upperHeader form input,
    header .upperHeader form button {
        height: 55px;
    }

    header .upperHeader form input {
        width: 570px;
    }

    header .banner {
        width: 100%;
        height: 300px;
    }

    header .nav-bar {
        display: flex;
        justify-content: space-around;
    }

    header .nav-bar a {
        text-decoration: none;
    }


    main section .product {
        margin: 10px 10px;
        display: flex;
        align-items: center;
        width: 20vw;
    }

    main section .product:hover {
        transition: box-shadow .3s;
        top: 10px;
        box-shadow: 0 0 11px #0000008c;
    }

    main section.BETUV {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    main section .product img {
        display: flex;
        align-items: center;
        width: inherit;
    }


    footer section.info{
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    footer section.info .icon:hover {
        color: #79e68d;
    }

    footer h4{
        display: flex;
        justify-content: start;
        align-items: end;
    }
}