body {
    font-family: Roboto;
}

header {
    background-color: #EAC926;;
}

header .text {
    display: flex;
    justify-content: center;
    margin: 10px 0 15px;
    font-size: 12px;
}

header img {
   display: flex;
   justify-content: start;
   align-items: start;
}

.searchBar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.searchBar button{
    background-color: #eaeaea;
    height: 42px;
    width: 45px;
    margin: 0 -10px;
    border: none;
    outline: none;
    border-radius: 5px;

}

.searchBar input {
    width: 185px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
}

header .upperHeader {
    display: flex;
    flex-direction: row;
}

header .burguer-menu {
    display: flex;
    justify-content: center;
    font-size: 2em;
    align-items: center;
    color: #ebebeb;
    background-color: #03264C;
    margin: 0 235px;
    border-radius: 5px;
    height: 45px;
}


header .nav-bar {
    display: none;
}

